services:
  ai-series-renamer:
    build:
      context: ./
      dockerfile: Dockerfile
    env_file:
      - .env
    environment:
      - TZ=Asia/Taipei
      - WATCH_EXTENSION=.mp4;.mkv;.avi;.nfo;.srt
      - EXCLUDE_FILE=tvshow.nfo;season.nfo
    container_name: ai-series-renamer
    restart: no
    volumes:
      - ./bangumi:/app/watchlist/bangumi
    network_mode: bridge
